$main-color: rgb(42, 46, 58);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$font-color: rgb(177, 178, 183);
$cursor-color: rgb(177, 178, 183);
$border-color: rgb(42, 46, 58);

$button-color: rgb(223, 105, 189);
$side-bar-color: rgb(62, 66, 77);
$context-menu-color: rgb(42, 46, 58);
$aqua: rgb(163, 211, 245);
